.Hnavbar-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  padding: 0;
  font-size: 1.5rem;
  padding-left: 2rem;
  overflow: hidden;
  background-color: #f0f2f5;
  margin: 0;
  padding: 1.7rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.Hnav-item {
  margin-right: 10px;
}

.Hnav-item-right {
  margin-left: auto;
  margin-right: 4rem;
  @media (max-width: 600px) {
    margin: 0 auto;
  }
}

.Hnav-link {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.Timer {
  font-size: 1.3rem;
  margin-left: 2rem;
}
.icons {
  margin-left: 3rem;
}
