.main {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #536ab1;
  /* background: linear-gradient(to right, #ea8d8d, #a890fe) !important; */

  /* background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); */

  /* background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
  /* background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); */
  /* background: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); */
  /* background: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%); */

  /* background: linear-gradient(to right, #cf2171, #a72264) !important; */
}
